body {
    background-image:url(background.jpg);
}
h1 {
    text-align: center;
    margin: 20px;
}
.mata-uang {
    display: flex;
    justify-content: center;
    margin: 20px;
}
input {
    margin:20px;
    display: block;
}
button {
    margin: 0% auto;
    display: block;
    justify-content: center;
    margin: 20px;
}
h2 {
    text-align: center;
}
.section {
    position: relative;
}
.arrow {
    font-size: 35px;
    margin-top: -15px;
    margin: -15px 10px 0;
}
.container {
    background-color: whitesmoke;
    width: 300px;
    height: 300px;
    margin: 5% auto;
    display: block;
    padding: 25px;
    border-radius: 45px;
    position: relative;
    z-index: 2;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.227);
    background-image: url(background-2.png);
}
.pict1 {
    width: 250px;
    position: absolute;
    right:50%;
    top: 50%;
    z-index: 1;
}